#nav-bar {
    background-color: #00a087;
    color: #e8fdff;
    padding: 0em 2em 0em 2em;
    
}


#nav-bar .logo {
    height: 80px;
    width: 80px;
    padding-right: 10px;
    float: left;
}


#nav-bar span.header {
    font-size: 40px;
    line-height: 200%
    
}


#nav-bar .composeButton {
    float:right; 
    margin: 15px 0 15px 0;
    font-size: 2.1em;
}


.composeButton:hover {
    opacity: 1.0;
}


.composeButton {
    opacity: 0.5;
}
