article {
    border-radius: 28px;
    width: 25em;
    margin: auto;
    border: solid 2px #00a087;
    background: rgb(228, 226, 226);
}


.image{
    padding: 10px 0 0 10px;
    margin: 0 15px 0 0;
    float:left;
    border-radius: 30em;
}


div.tweet-header{
    font-size: 1.3em;
    font-weight: bold;
    float: left;
    padding: 15px 0 0 0;
}


.handle-tag {
    padding: 5px 0 0 0;
    float:right;
    margin: 1em;
}


p.tweet {
   overflow-wrap: break-word;
}


article.hover{
    margin-top: 2em;
}


article:hover{
    opacity: 1.0;
}


article {
    opacity: 0.5;
}


article:hover .icons {
    opacity: 1.0;
    display: block;
}


.icons{
    padding: 0 0 0 4em;
    display: absolute;
    display: none;
}


footer.time{
    background: white;
    border-radius: 0 0 25px 25px;
    width: 24.7em;
    height: 3em;    
    display: flex;
}


.errorTag{
    color: red;
    display: none;
}


.errorTag2{
    color: red;
    display: none;
}

