section.new-tweet {
    border-radius: 25px;
    background: rgb(216, 214, 214);
    padding: 20px;
    width: 25em;
    height: 15em;
    margin: auto;
    border: solid 2px #00a087;
    display: none;
}


h2.compose-tweet { 
    text-align: left;
}


hr {
    margin: 10px, 10px;
}


span.counter {
    float: right;
    margin: auto;
}


textarea {
    padding: 5px 0 5px 0;
    width: 350px;
    margin-bottom: 5px;
}


input{
    float: left;
}



